<h2 class="form-heading">Todo Form</h2>
<div class="form__controls">
  <div class="form__control">
    <label for="task">Task</label>
    <input
      type="text"
      id="task"
      name="Task"
      placeholder="What do you want to do?"
    />
  </div>
  <div class="form__control">
    <label for="description">Description</label>
    <input
      type="text"
      id="description"
      name="Description"
      placeholder="How should it be done?"
    />
  </div>
</div>
<!-- Main Form goes here -->
<div id="actionBtns" class="form-actions">
  <button type="button" class="btn pull-right" tabindex="27" id="btnCancel">
    Cancel
  </button>
  <button type="button" class="btn btn-primar" tabindex="26" id="btnSaveOne">
    Save
  </button>
</div>
